.footer {
    background-color: #fbfdfd;
    color: #000000;
    padding: auto;
    text-align: center;
    margin-top: auto;
  }
  
  .footer h3 {
    margin-bottom: 0px;
    font-size: 1.8rem;
  }
  
  .footer p {
    margin: 5px 0;
    font-size: 1rem;
  }
  